.slideout-animation {
  position: relative;
  overflow: hidden;

  .content {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .content-overlay-slide-bottom {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: -120%;
    left: 0;
    min-height: 100%;
    transition: bottom 1s;
    background: $gradient-bg;
  }

  &:hover {
    .content-overlay-slide-bottom {
      bottom: 0;
    }

    // .content-overlay-fade {
    //   opacity: 1;
    // }

    // .content-overlay-slide-right {
    //   left: 0;
    // }
    // .content-overlay-slide-left {
    //   right: 0;
    // }
    // .content-overlay-slide-top {
    //   top: 0;
    // }
  }
  // .content-overlay-slide-right {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   left: 120%;
  //   min-height: 50px;
  //   transition: left 1s;
  // }

  // .content-overlay-slide-left {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   right: 120%;
  //   min-height: 50px;
  //   transition: right 1s;
  // }
  // .content-overlay-slide-top {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 2;
  //   top: -120%;
  //   left: 0;
  //   min-height: 50px;
  //   transition: top 1s;
  // }

  // .content-overlay-fade {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   left: 0;
  //   opacity: 0;
  //   min-height: 50px;
  //   transition: opacity 1s;
  // }
}
