.bubble-animation-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;

  .bubble-animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bubble-animation div {
    width: 5px;
    height: 5px;
    background: #b6eada;

    border-radius: 50%;

    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
}
.bubble-animation div:nth-child(even) {
  background: #5b8fb9;
}
@keyframes animate {
  0% {
    transform: translateY(150vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}
