header {
  width: 100%;
  .navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 5;
    padding-right: 20px;
    background: linear-gradient(
      193deg,
      rgba(37, 109, 133, 1) 5%,
      rgba(6, 40, 61, 1) 35%,
      rgba(6, 40, 61, 1) 66%
    );
    .navbar-brand {
      font-family: "Tangerine", cursive;
      font-size: 2rem;
      color: #00abb3;
      font-size: 40px;
    }
    .nav-link {
      color: white;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
    }
    .nav-link:hover {
      color: #8bbccc;
    }
  }
  .fa-solid {
    font-size: 2rem;
    color: white;
  }
  .offcanvas {
    background: linear-gradient(
      193deg,
      rgba(37, 109, 133, 1) 5%,
      rgba(6, 40, 61, 1) 35%,
      rgba(6, 40, 61, 1) 66%
    );
  }
}

// @media all and (max-width: 768px) {
//   .nav-link {
//     font-size: 0.3rem;
//   }
// }

// @media all and (max-width: 1024px) {
//   .navbar {
//     .nav-link {
//       color: #00abb3;
//     }
//   }
// }
