.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container a {
  text-decoration: none;
  color: #00abb3;
  background-color: transparent;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  border: 4px solid #00abb3;
}
.btn-container a:hover {
  background-color: #00abb3;
  color: white;
}

a,
i {
  color: white;
  transition: transform 2s ease-in-out;
}

i:hover {
  transform: scale(1.3);
}

i {
  padding-left: 20px;
  font-size: 1.6rem;
  color: #00abb3;
}

header {
  width: 100%;
}
header .navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 5;
  padding-right: 20px;
  background: linear-gradient(193deg, rgb(37, 109, 133) 5%, rgb(6, 40, 61) 35%, rgb(6, 40, 61) 66%);
}
header .navbar .navbar-brand {
  font-family: "Babylonica", cursive;
  font-size: 2rem;
  color: #00abb3;
  font-size: 40px;
}
header .navbar .nav-link {
  color: white;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
header .navbar .nav-link:hover {
  color: #8bbccc;
}
header .fa-solid {
  font-size: 2rem;
  color: white;
}
header .offcanvas {
  background: linear-gradient(193deg, rgb(37, 109, 133) 5%, rgb(6, 40, 61) 35%, rgb(6, 40, 61) 66%);
}
header .navbar-toggler:focus {
  outline: 1px dashed #8bbccc;
  box-shadow: none;
}

article {
  min-height: 100vh;
  background-color: white;
  color: white;
  font-family: "Poppins", sans-serif;
}
article .banner-container {
  background-color: #06283d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 90%, 0 100%);
  position: relative;
}
article .banner-container .introduction {
  position: absolute;
  top: 80px;
  left: 0;
}
article .banner-container .introduction .img-style {
  border: 5px solid white;
  width: 300px;
  height: 300px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
article .banner-container .introduction .img-style img {
  width: 100%;
}
article .banner-container .introduction .my-role {
  color: #00abb3;
}
article .persona-details {
  background: linear-gradient(160deg, #06283d 50%, #ebf2f7 50%);
}
article .about-me-container {
  color: #06283d;
}
article .skills-container {
  background: linear-gradient(193deg, rgb(37, 109, 133) 5%, rgb(6, 40, 61) 35%, rgb(6, 40, 61) 66%);
  height: 400px;
}

@media all and (max-width: 768px) {
  .banner-container {
    height: auto;
  }
}
@media all and (min-width: 768px) {
  .banner-container {
    height: 700px;
  }
}
.bubble-animation-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
.bubble-animation-container .bubble-animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bubble-animation-container .bubble-animation div {
  width: 5px;
  height: 5px;
  background: #b6eada;
  border-radius: 50%;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
  -webkit-animation-duration: calc(125s / var(--i));
          animation-duration: calc(125s / var(--i));
}

.bubble-animation div:nth-child(even) {
  background: #5b8fb9;
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(150vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}

@keyframes animate {
  0% {
    transform: translateY(150vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}
.typing-wrapper {
  height: 40px;
  overflow: hidden;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  26% {
    top: -55px;
  }
  50% {
    top: -55px;
  }
  51% {
    top: -105px;
  }
  75% {
    top: -105px;
  }
  76% {
    top: -155px;
  }
  100% {
    top: -155px;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  26% {
    top: -55px;
  }
  50% {
    top: -55px;
  }
  51% {
    top: -105px;
  }
  75% {
    top: -105px;
  }
  76% {
    top: -155px;
  }
  100% {
    top: -155px;
  }
}
@-webkit-keyframes typing {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0;
  }
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0;
  }
}
.typing-wrapper p {
  color: #fc6d6d;
  font-size: 24px;
  font-weight: 500;
}

.typing-wrapper .content {
  -webkit-animation: slide 24s infinite;
          animation: slide 24s infinite;
  position: relative;
  top: 0;
}

.typing-wrapper .content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border-left: 2px solid #fc6d6d;
  -webkit-animation: typing 6s steps(10) infinite;
          animation: typing 6s steps(10) infinite;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */